.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  top: 60px !important;
  right: 0px;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  top: 60px !important;
}
.swiper-button-next,
.swiper-button-prev {
  /* background: rgba(213, 247, 135, 0.8); */
  border-radius: 50%;
  width: 2rem !important;
  height: 2rem !important;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1rem !important;
  color: white;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: -0px;
}

.md-post-p {
  margin: 12px 0px 12px 0px;
  font-size: 1.1em;
  z-index: 1 !important;
  /*  字体  */
  font-family: -apple-system, BlinkMacSystemFont, 'Microsoft YaHei', sans-serif;

  /*  字号 */
  font-size: 16px;

  /*  字体颜色  */
  color: #ffffffeb;

  /* 行距 */
  line-height: 1.75;
}

.md-post-li {
  margin: 12px;
  list-style-type: none;
}

.md-post-h4 {
  margin: 12px;
  font-size: 1.5em;
  color: red;
}

.md-post-hr {
  margin: 12px;
  width: 200px;
  height: 20px;
  margin: 60px auto;
  background: radial-gradient(circle closest-side, #d4d4d4 98%, #0000) 0 /
    calc(100% / 5) 100%;
  border: none;
}

.md-post-p a {
  color: #fbd38d !important;
  z-index: 1;
}

.content-container {
  position: relative;
  z-index: 1;
  margin-bottom: 60px;
}
.content-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
  height: 100%;
  pointer-events: none;
  background-image: linear-gradient(0deg, #000, transparent 1px),
    linear-gradient(90deg, #000, transparent 1px);
  background-size: 12px 12px;
  opacity: 0.2;
}
